@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Capstone.Web.Models.Park

@{
    ViewData["Title"] = "Detail";
}
<link href="~/css/HomeDetail.css" rel="stylesheet" />


<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <img src=@Html.DisplayFor(model => model.Image)>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acreage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acreage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElevationInFeet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElevationInFeet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MilesOfTrail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MilesOfTrail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCampsites)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfCampsites)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Climate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Climate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearFounded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearFounded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualVisitorCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnualVisitorCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuoteSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuoteSource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAnimalSpecies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfAnimalSpecies)
        </dd>


    </dl>

    <div>
        <div class="flex-container">
            @foreach (Forecast forecast in Model.Forecast)
            {
                <div class="weather">
                    <p class="weather-image">
                        
                        @if (@forecast.Day == 1)
                        {<p class ="weatherTitle"><strong>TODAY</strong></p>
                           <img class= "mainForecast" src="@forecast.Image">
                        }
                        @if (@forecast.Day != 1)
                        {<img src="@forecast.Image">
                        }
                    </p>

                    <p>
                        High: @forecast.DisplayHigh
                    </p>

                    <p>
                        Low: @forecast.DisplayLow
                    </p>

                    <p>
                        @forecast.ForecastAdvice
                    </p>

                    <p>
                        @forecast.TemperatureAdvice
                    </p>
                </div>
            }
        </div><br /><br />
        <div>
            <ul>
                <li><a asp-controller="Home" asp-action="PreferFahrenheit" asp-route-parkCode="@Model.ParkCode"><span></span> Fahrenheit</a></li>
                <li><a asp-controller="Home" asp-action="PreferCelsius" asp-route-parkCode="@Model.ParkCode"><span></span>Celsius</a></li>
            </ul>
        </div>



    </div>
</div>