@model IEnumerable<DailySurvey>

@{
    ViewData["Title"] = "Index";
}

<h2>VOTE: Which National Park is Your Favorite?</h2>
<div .vote>
    <p>
        People make their voices heard with their ballots and this year the stakes are high!
        We are trying to determine which National Park is the “Best National Park!" With so many to choose from,
        the decisions will be difficult, but voters get to select their favorite! 
    </p>
    <p>
        <button type="button" onclick="location.href='@Url.Action("AddSurvey", "Survey")'">
            Cast your ballot!
        </button>
    </p>
</div>

<table class="table location">
   <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><span class="location">
                    @{string imageLocation = string.Concat(@"/images/parks/", @item.ParkCode, ".jpg");}
                    <a href="~/home/detail/@item.ParkCode"><img src="@imageLocation" /></a>
                    </span>
                </td>
                <td>
                    <a class="location parkname" href="~/home/detail/@item.ParkCode">@Html.DisplayFor(modelItem => item.ParkName)</a>
                </td>
                <td></td>

    <td><span class="location stars">
    @if (item.SurveyVote < 20)
    {
        @for (int star = 0; star < @item.SurveyVote; star++)
        {
            <span class="star">★</span>
        }
    }
    else
    {
        <span class="star">item.SurveyVote ★s</span>
    }
                    </span>
</td>

            </tr>
        }
    </tbody>
</table>
